<div class="panel-content-fix">
    <div class="panel-box">
        <span class="material-symbols-outlined">search</span>
        <input type="text" id="search-triger" class="input-main" placeholder="Пошук...">
    </div>
</div>

<div class="panel-separator"></div>

</div>

<div class="panel-content-footer">
    <button class="panel-item" disabled>
        <span class="material-symbols-outlined panel-item-icon">auto_fix_high</span>
        <span class="panel-item-text">Магія</span>
    </button>
</div>
</div>